@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@500;700&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root{
    --branding-color:#6C63FF;
    --secondary-color: #f9f7fe;
    --heading-font-family:'Playfair Display', serif;
    --default-font-family : 'Poppins', sans-serif;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body{
    font-family: var(--default-font-family);
}
h1,h2,h3,h4{
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
}
h1{
    font-size: 96px;
}
h2{
    font-size: 64px;
}
h3{
  font-size: 48px;
}
p{
    font-weight: normal;
    font-size: 16px; 
    line-height: 30px;
}
.logo {
    max-width: 30px;
}
.nav-item{
  padding: 0 10px;
  line-height: 14px;
}
.nav-item a:hover{
  color: var(--branding-color);
}
.active{
  color: var(--branding-color) !important;
}
.hero{
    background: var(--secondary-color);
    text-align: center;
    padding: 90px 20px;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}
.hero h2{
    font-family: var(--default-font-family);
    font-weight: normal; 
    line-height: 1.5;
    font-size: 24px;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    box-shadow: var(--box-shadow);
}
.btn-branding-outline{
    border-radius: 4px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.content-container{
  padding: 60px 20px;
}
.content-container h1{
  font-size: 64px;
  line-height: 80px;
}
.content-container h2{
  font-size: 18px;
  font-family: var(--default-font-family);
}
.abt-img{
  width: 416px;
  height: 516px;
  border-radius: 4%;
}
.content{
  margin: 30px;
}
.content h3{
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p{
  font-size: 14px;
}
.project-desc{
    padding: 100px 60px;
}
.work img{
  border-radius: 3%;
}
footer{
  margin: 60px 0;
}
footer .contact-box{
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p{
  margin: 0;
}
footer .email-link{
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover{
  color: var(--branding-color);
}
footer .social-links a{
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
  color: white;
  background: var(--branding-color);
}

@media(max-width:900px){
    h1{
        font-size: 50px;
        line-height: 1.7;
    }
    h2{
        font-size: 44px;
    }
    h3{
      font-size: 26px;
    }
    .hero{
        padding: 80px 20px;
    }
    .content{
      text-align: center;
      padding: 0;
    }
    .content-container{
      text-align: center;
      padding: 60px 10px;
    }
    .content-container h1{
      font-size: 50px;
      line-height: 1.1;
    }
    footer .contact-box{
      padding: 30px;
    }
}
@media(max-width: 1200px){
    .project-desc{
        padding: 30px 0;
        text-align: center;
    }
}
/* @media(min-width: 992px){
  .navbar-expand-lg{
    display: flex;
    
  }
  .navbar-expand-lg .navbar-nav{
    flex-direction: row;
    justify-content: flex-end !important;
  }
} */